.choose-coin__card {
  flex: 1;
  background: var(--primary-fill-color);
  padding: 2.75rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}

.choose-coin__card > div {
  background-image: url("../../images/bricks.png");
  border: thin solid var(--primary-fill-color);
  border-radius: 2rem;
  background-color: var(--primary-color);
  padding: 2rem 5.25rem;
}

.choose-coin__heading {
  color: var(--primary-fill-color);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
}

.coin-option__container {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.coin-option__container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-fill-color);
}

.coin-option__container button {
  border-radius: 50%;
  background-color: transparent;
  border: thin solid;
  border-color: transparent;
  display: flex;
  width: 10.75rem;
  height: 10.75rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s;
}

.coin-option__container button > :is(.head-coin, .tail-coin) {
  width: 8rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.coin-option__container button > .head-coin {
  background-image: url("../../images/head.png");
  box-shadow: 0.05rem 0.05rem 1rem var(--background-color);
}

.coin-option__container button > .tail-coin {
  background-image: url("../../images/tail.png");
}

.coin-option__container button.active {
  border-color: var(--primary-fill-color);
}

.coin-option__container span {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.empty-coin__img {
  width: 17.25rem;
  height: 17.25rem;
}

.choose-coin__img {
  position: absolute;
  z-index: 1;
  right: -0.5rem;
  width: 24rem;
  height: 24rem;
  bottom: -2.25rem;
}

@media screen and (max-width: 640px) {
  .choose-coin__card {
    width: 100%;
    margin: auto;
  }

  .choose-coin__card > div {
    padding: 4rem 2.25rem 11rem;
  }

  .choose-coin__heading {
    font-size: 2.75rem;
  }

  .choose-coin__heading .curly {
    display: none;
  }

  .coin-option__container {
    flex-direction: column;
    gap: 3.5rem;
  }

  .coin-option__container > div {
    flex-direction: row;
  }

  .coin-option__container button {
    width: 8.75rem;
    height: 8.75rem;
  }

  .coin-option__container button > :is(.head-coin, .tail-coin) {
    width: 6rem;
    height: 6rem;
  }

  .choose-coin__img {
    bottom: -3rem;
    right: -4rem;
  }
}
