.header-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
}

.header-banner > a {
  color: var(--step-para-color);
  text-decoration-color: var(--connect-wallet-hover-color);
}

.header-container {
  align-items: center;
  display: flex;
  margin: 2.5rem auto;
  max-width: 122rem;
}

.header-container .logo {
  width: 12rem;
  height: 12rem;
}

.header-button__container {
  justify-content: flex-end;
  flex: 1;
  position: relative;
}

.header-button__container,
.header-button__container > div:first-child {
  align-items: center;
  display: flex;
}

.header-button__container a {
  text-decoration: underline;
  color: var(--step-para-color);
  margin: 0 1.4rem;
  display: flex;
  align-items: center;
  text-decoration-color: var(--connect-wallet-hover-color);
  font-size: 1.4rem;
}

.social-svg__link {
  margin-right: 0.5rem;
}

.header-button__container [data-testid="rk-connect-button"] {
  padding: 0.75rem 1.25rem;
  border: thin solid var(--color-overlay);
  font-size: 1.25rem;
  transition: background-color 0.2s;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  font-weight: normal;
  color: var(--connect-wallet-text-color);
}

.header-button__container
  [data-testid="rk-connect-button"]:is(::before, ::after) {
  display: none;
}

.header-button__container [data-testid="rk-connect-button"]:hover {
  background-color: var(--connect-wallet-hover-color);
  transform: scale(1);
}

@media screen and (max-width: 640px) {
  .header-container {
    margin-bottom: 8rem;
  }

  .header-container .logo {
    width: 8rem;
    height: 8rem;
  }

  .header-button__container > div:first-child {
    position: absolute;
    top: 100px;
  }

  .header-button__container a {
    text-decoration: none;
    border-bottom: thin solid var(--connect-wallet-hover-color);
    padding-bottom: 0.25rem;
  }

  .header-button__container a > span {
    display: none;
  }
}
